*
*.xd
*.ai
*.png
*.jpeg
*.jpg
*.avif
*.webp


!Adobe Illustrator
!Adobe Illustrator/*.ai


!Adobe XD
!Adobe XD/*.xd

!.gitignore
!composer.json*
!composer.lock*
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/asbl
!wp-content/themes/asbl/*