*
*.xd
*.ai
*.png
*.jpeg
*.jpg
*.avif
*.webp


!Adobe Illustrator
!Adobe Illustrator/*.ai


!Adobe XD
!Adobe XD/*
!Adobe XD/*.xd
!Adobe XD/images moodboard/*

!.gitignore
!composer.json*
!composer.lock*
!wp-content/
wp-content/*
!wp-content/themes/
wp-content/themes/*
!wp-content/themes/asbl
!wp-content/themes/asbl/*
wp-content/themes/asbl/.env.local.ini
!wp-content/themes/asbl/helpers/*
!wp-content/themes/asbl/core/*
!wp-content/themes/asbl/resources/*
!wp-content/themes/asbl/resources/components/*
!wp-content/themes/asbl/resources/components/navigations/*
!wp-content/themes/asbl/resources/components/burger_menu/*
!wp-content/themes/asbl/resources/components/linked_section/*
!wp-content/themes/asbl/resources/components/unlinked_section/*
!wp-content/themes/asbl/resources/components/list_section/*
!wp-content/themes/asbl/resources/components/forms/*
!wp-content/themes/asbl/resources/components/forms/labels_and_input/*
!wp-content/themes/asbl/resources/components/sliders/*
!wp-content/themes/asbl/resources/css/*
!wp-content/themes/asbl/resources/sass/*
!wp-content/themes/asbl/resources/js/*
!wp-content/themes/asbl/resources/images/*
!wp-content/themes/asbl/resources/fonts/*
!wp-content/themes/asbl/resources/fonts/arial/*
!wp-content/themes/asbl/resources/fonts/helvetica_neue/*
!wp-content/themes/asbl/resources/fonts/roboto/*

/vendor/
