.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.link_hover {
  color: #fff;
  text-decoration: underline transparent;
  transition: text-decoration 0.5s ease-in-out;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
}
.link_hover:hover {
  text-decoration: underline #fff;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body {
  color: #fff;
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-size: 0.875em;
}
body header {
  position: fixed;
  top: 0;
  background-color: #3E38AD;
  padding: 1.5625em 1em;
  width: calc(100% - 2em);
  z-index: 1;
}
body header .main_nav {
  flex-direction: row;
  align-items: center;
}
body header .main_nav_logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
body header .main_nav label[for=burger_menu] {
  cursor: pointer;
  width: 3em;
  height: 2.5em;
  position: relative;
  display: inline-block;
  z-index: 2;
}
body header .main_nav label[for=burger_menu] span.line {
  width: 100%;
  display: block;
  height: 0.4em;
  position: absolute;
  top: calc(50% - 0.1em);
  background-color: #fff;
  border-radius: 0.3em;
  transition: all 0.3s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before, body header .main_nav label[for=burger_menu] span.line:after {
  content: "";
  height: 0.4em;
  width: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 0.3em;
  transition: all 0.3s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before {
  transform: translateY(-1.1em);
}
body header .main_nav label[for=burger_menu] span.line:after {
  transform: translateY(1.1em);
}
body header .main_nav ul.flex_container {
  position: absolute;
  top: -1000px;
  background-color: #3E38AD;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  width: calc(100% - 2em);
  padding: 7.5em 1em;
  overflow: scroll;
  max-height: calc(100vh - 15em);
  gap: 3.125em;
  transform: translateX(-1em);
  border-radius: 3.75em 0;
}
body header .main_nav ul.flex_container li {
  border-bottom: 1px solid #fff;
  padding-bottom: 2.1875em;
}
body header .main_nav ul.flex_container li a {
  font-size: 1.375em;
}
body header .main_nav input[type=checkbox] {
  visibility: hidden;
  width: 0;
  height: 0;
}
body header .main_nav input[type=checkbox]:checked ~ ul {
  top: 0;
  visibility: visible;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line {
  background-color: transparent;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:before {
  transform: rotate(-45deg);
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:after {
  transform: rotate(45deg);
}

/*# sourceMappingURL=index.css.map */
