#progress_bar {
  background-color: #fff;
  height: 0.3em;
  position: fixed;
  bottom: 0;
  width: 0;
  border-radius: 0.15em;
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.spacing {
  margin-top: 3.125em;
}

.link_hover, .section_link_hover {
  color: #fff;
  text-decoration: underline transparent;
  transition: text-decoration 0.5s ease-in-out;
}
.link_hover:hover, .section_link_hover:hover {
  text-decoration: underline #fff;
}

.section_link {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section_link_hover {
  background-repeat: no-repeat;
  background-position: 75%;
  background-image: url("../images/link_arrow.svg");
  display: inline-block;
  width: 100%;
  text-indent: 25%;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 3.75em 0;
}

.filter {
  filter: brightness(0.4);
  border-radius: 0;
  height: 29.9375em;
}

.center {
  padding: 0 1em;
  margin: 2.36em 0 6.14em;
}

.text {
  line-height: 1.43em;
}

.even, .odd, .even_unlinked_section, .odd_unlinked_section {
  border-radius: 3.75em 0;
  padding-bottom: 3.125em;
  overflow: hidden;
  position: relative;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.5);
}

.even {
  background: linear-gradient(to bottom, #27236F 85%, #3E38AD 15%);
}
.even_unlinked_section {
  background-color: #27236F;
}
.even_unlinked_section .center {
  margin-bottom: 0;
}
.even_unlinked_section .center .text:not(:last-child) {
  margin-bottom: 1em;
}

.odd {
  background: linear-gradient(to bottom, #3E38AD 85%, #27236F 15%);
}
.odd_unlinked_section {
  background-color: #3E38AD;
}
.odd_unlinked_section .center {
  margin-bottom: 0;
}
.odd_unlinked_section .center .text:not(:last-child) {
  margin-bottom: 1em;
}

.section_second_title {
  text-align: center;
  position: absolute;
  top: 10.88em;
  font-size: 1.375em;
  z-index: 1;
  width: calc(100% - 2em);
  line-height: 1.23em;
  padding: 0 1em;
}

.note {
  margin-top: 3.58em;
  text-indent: 1.86em;
  background-image: url("../images/warning.svg");
  background-repeat: no-repeat;
  background-position: left 0.2em;
  padding-top: 0.71em;
}

h1, h2, .link_hover, .section_link_hover {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
}

h1 {
  font-size: 1.375em;
  background-color: #27236F;
  border-radius: 3.75em 0;
  padding: 1.5625em;
  margin-top: 8.359375em;
}

h2 {
  font-size: 1.125em;
}

body {
  color: #fff;
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-size: 0.875em;
}
body header {
  position: fixed;
  top: 0;
  background-color: #3E38AD;
  padding: 1.5625em 1em;
  width: calc(100% - 2em);
  z-index: 2;
}
body header .main_nav {
  flex-direction: row;
  align-items: center;
}
body header .main_nav_logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
body header .main_nav label[for=burger_menu] {
  cursor: pointer;
  width: 3em;
  height: 2.5em;
  position: relative;
  display: inline-block;
  z-index: 2;
}
body header .main_nav label[for=burger_menu] span.line {
  width: 100%;
  display: block;
  height: 0.4em;
  position: absolute;
  top: calc(50% - 0.2em);
  background-color: #fff;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before, body header .main_nav label[for=burger_menu] span.line:after {
  content: "";
  height: 0.4em;
  width: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before {
  transform: translateY(-1em);
}
body header .main_nav label[for=burger_menu] span.line:after {
  transform: translateY(1em);
}
body header .main_nav div {
  position: absolute;
  top: -1000px;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  background-color: #fff;
  overflow: scroll;
  height: 100vh;
  transform: translateX(-1em);
  width: 100vw;
  display: inline-block;
}
body header .main_nav div ul.flex_container {
  background-color: #3E38AD;
  border-radius: 7.5em 0;
  padding: 7.5em 1em;
  gap: 3.125em;
}
body header .main_nav div ul.flex_container li {
  border-bottom: 1px solid #fff;
  padding-bottom: 2.1875em;
}
body header .main_nav div ul.flex_container li a {
  font-size: 1.375em;
}
body header .main_nav input[type=checkbox] {
  visibility: hidden;
  width: 0;
  height: 0;
}
body header .main_nav input[type=checkbox]:checked ~ div {
  top: 0;
  visibility: visible;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line {
  background-color: transparent;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:before {
  transform: rotate(-45deg);
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:after {
  transform: rotate(45deg);
}
body main section .houses, body main section .shops {
  margin: 1.875em 1em 0 1em;
}
body main section .houses:not(:last-child), body main section .shops:not(:last-child) {
  border-bottom: 1px solid #fff;
  padding-bottom: 1.875em;
}
body main section .houses img, body main section .shops img {
  margin-bottom: 0.9375em;
}
body main section .houses_list_element, body main section .shops_list_element {
  list-style: inside;
}
body main section .houses_list_element:not(:last-child), body main section .shops_list_element:not(:last-child) {
  margin-bottom: 1.14em;
}
body main section .shops {
  position: relative;
}
body main section .shops .filter {
  border-radius: 3.75em 0;
  margin-bottom: 0;
}
body main section .shops_list_title {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  margin-bottom: 1.43em;
}
body main section .shops_positioning {
  position: absolute;
  left: 3.43em;
  top: 3.43em;
  z-index: 1;
}
body main section .shops_positioning div:first-child {
  margin-bottom: 2.14em;
}
body main section form {
  padding: 0 1em;
  margin-top: 1.875em;
}
body main section form#contact_form label.label_positioning {
  background-color: #27236F;
}
body main section form#support_form label.label_positioning {
  background-color: #3E38AD;
}
body main section form#support_form fieldset:nth-of-type(2) {
  margin-bottom: 3.125em;
}
body main section form#contact_form fieldset, body main section form#support_form fieldset {
  gap: 2.5em;
}
body main section form#contact_form fieldset:first-of-type, body main section form#support_form fieldset:first-of-type {
  margin-bottom: 3.125em;
}
body main section form#contact_form fieldset legend, body main section form#support_form fieldset legend {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-size: 1.375em;
  margin-bottom: 1.4em;
}
body main section form#contact_form fieldset div, body main section form#support_form fieldset div {
  position: relative;
}
body main section form#contact_form fieldset div label.label_positioning, body main section form#support_form fieldset div label.label_positioning {
  position: absolute;
  left: 1.14em;
  top: -0.5em;
  padding: 0 0.5em;
}
body main section form#contact_form fieldset input, body main section form#contact_form fieldset textarea, body main section form#support_form fieldset input, body main section form#support_form fieldset textarea {
  border: 1px solid #fff;
  border-radius: 0.714em;
  padding: 1.14em;
  background-color: transparent;
  width: calc(100% - 2.29em - 2px);
  color: #fff;
  line-height: 1.42em;
}
body main section form#contact_form fieldset input::placeholder, body main section form#contact_form fieldset textarea::placeholder, body main section form#support_form fieldset input::placeholder, body main section form#support_form fieldset textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main section form#contact_form input[type=submit], body main section form#support_form input[type=submit] {
  background-color: transparent;
  line-height: 1.42em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.4545em;
  margin-top: 0.91em;
  width: 100%;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-size: 1.375em;
  text-transform: uppercase;
  padding: 0.73em;
}
body footer {
  background-color: #3E38AD;
  padding-top: 1.5625em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2.1875em;
}
body footer nav.socials_nav, body footer nav.footer_nav, body footer nav.contact_nav, body footer nav.partners_nav {
  padding: 0 1em;
  gap: 1em;
}
body footer nav.socials_nav ul.flex_container, body footer nav.footer_nav ul.flex_container, body footer nav.contact_nav ul.flex_container, body footer nav.partners_nav ul.flex_container {
  gap: 1.14em;
}
body footer nav.socials_nav ul.flex_container li a, body footer nav.footer_nav ul.flex_container li a, body footer nav.contact_nav ul.flex_container li a, body footer nav.partners_nav ul.flex_container li a {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-size: 0.875em;
}
body footer nav.contact_nav li p {
  font-size: 0.875em;
}
body footer nav.socials_nav li a {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/facebook_icon.svg");
  width: 40px;
  height: 40px;
  text-indent: -10000px;
  display: inline-block;
}
body footer section#legal_notices {
  background-color: #27236F;
  padding: 1.5625em 1em;
  gap: 0.625em;
}
body footer section#legal_notices a {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
}

/*# sourceMappingURL=index.css.map */
