#progress_bar {
  background-color: #fff;
  height: 0.3em;
  position: fixed;
  bottom: 0;
  width: 0;
  border-radius: 0.15em;
}

.small {
  font-size: 0.75em;
  line-height: 1.7em;
}

#check_disponibility {
  color: white;
  text-decoration: underline;
}

#error {
  padding: 3.125em 1em;
  background: linear-gradient(to bottom, #3E38AD 65%, #27236F 35%);
}
#error h2 {
  margin-bottom: 1.7em;
}
#error p {
  margin-bottom: 6.07em;
}

#validate {
  background-color: #24702a;
}

#not_validate {
  background-color: #702424;
}

#last_modification {
  background-color: #3E38AD;
  padding: 3.57em 1.14em;
  border-radius: 3.75em 0;
  margin-top: 3.57em;
}

#no_js_banner {
  background-color: #702424;
  border-radius: 3.75em 0;
  padding: 3.125em 1em;
  margin-left: 5em;
  margin-right: 5em;
}
#no_js_banner h2 {
  margin-bottom: 1.7em;
}

.no_display {
  display: none;
}

.validation_errors {
  color: #ff0000;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  margin-top: 1.14em;
}

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

.spacing {
  margin-top: 3.125em;
}

.translated {
  transform: translateX(10000px);
}

.link_hover, .section_link_hover {
  color: #fff;
  text-decoration: underline transparent;
  transition: text-decoration 0.5s ease-in-out;
}
.link_hover:hover, .section_link_hover:hover {
  text-decoration: underline #fff;
}

.section_link {
  font-size: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.section_link_hover {
  background-repeat: no-repeat;
  background-position: right;
  background-image: url("../images/link_arrow.svg");
  display: inline-block;
  padding-right: 4em;
  text-align: center;
  margin-left: calc(50% - 7.15em);
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  object-fit: cover;
  width: 100%;
  border-radius: 3.75em 0;
}

h3 {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-size: 1.57em;
  margin-bottom: 1em;
  text-align: center;
}

.filter {
  filter: brightness(0.4);
  height: 29.9375em;
  border-radius: 0;
}

.black_and_white {
  filter: grayscale(100%);
}

.center {
  padding: 0 1em;
  margin: 2.14em 0 6.14em;
}

.text {
  line-height: 1.43em;
}

.even, .odd, .even_unlinked_section, .odd_unlinked_section, .odd_faq, .even_faq, .ln_odd_unlinked_section, .ln_even_unlinked_section {
  border-radius: 3.75em 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 3.125em;
  box-shadow: 0 6px 9px rgba(0, 0, 0, 0.5);
}

.ln_odd_unlinked_section, .ln_even_unlinked_section {
  padding: 3.125em 1em;
}
.ln_odd_unlinked_section div.center, .ln_even_unlinked_section div.center {
  padding: 0;
  margin-bottom: 0;
}
.ln_odd_unlinked_section div.center:has(p:nth-of-type(4)) p:not(:last-child), .ln_even_unlinked_section div.center:has(p:nth-of-type(4)) p:not(:last-child) {
  margin-bottom: 0.71em;
}

.ln_odd_unlinked_section {
  background-color: #3E38AD;
}

.ln_even_unlinked_section {
  background-color: #27236F;
}

.even_faq, .odd_faq {
  padding-left: 1em;
  padding-right: 1em;
}
.even_faq h2, .odd_faq h2 {
  margin-top: 2.27em;
  line-height: 1.23em;
}
.even_faq .center, .odd_faq .center {
  padding: 0;
}
.even_faq .faq_links, .odd_faq .faq_links {
  margin-top: 2.14em;
}
.even_faq .faq_links_list, .odd_faq .faq_links_list {
  margin-top: 1.43em;
}
.even_faq .faq_links_list_element, .odd_faq .faq_links_list_element {
  list-style: inside;
}
.even_faq .faq_links_list_element:not(:last-child), .odd_faq .faq_links_list_element:not(:last-child) {
  margin-bottom: 1.14em;
}

.even {
  background: linear-gradient(to bottom, #27236F 85%, #3E38AD 15%);
}
.even_unlinked_section, .even_faq {
  background-color: #27236F;
}
.even_unlinked_section .center, .even_faq .center {
  margin-bottom: 0;
}
.even_unlinked_section .center .text:not(:last-child), .even_faq .center .text:not(:last-child) {
  margin-bottom: 1em;
}

.odd {
  background: linear-gradient(to bottom, #3E38AD 85%, #27236F 15%);
}
.odd_unlinked_section, .odd_faq {
  background-color: #3E38AD;
}
.odd_unlinked_section .center, .odd_faq .center {
  margin-bottom: 0;
}
.odd_unlinked_section .center .text:not(:last-child), .odd_faq .center .text:not(:last-child) {
  margin-bottom: 1em;
}

.section_second_title {
  text-align: center;
  position: absolute;
  top: 9.52em;
  font-size: 1.57em;
  z-index: 1;
  width: calc(100% - 2em);
  line-height: 1.23em;
  padding: 0 1em;
}

.note {
  margin-top: 3.58em;
  text-indent: 1.86em;
  background-image: url("../images/warning.svg");
  background-repeat: no-repeat;
  background-position: left 0.2em;
  padding-top: 0.71em;
}

h1, h2, .link_hover, .section_link_hover {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 1.57em;
  background-color: #27236F;
  border-radius: 3.75em 0;
  padding: 1.5625em;
  margin-top: 8.359375em;
}

h2 {
  font-size: 1.29em;
}

body {
  color: #fff;
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-weight: normal;
  font-size: 0.875em;
}
body header {
  position: fixed;
  top: 0;
  background-color: #3E38AD;
  padding: 1.5625em 1em;
  width: calc(100% - 2em);
  z-index: 2;
}
body header .main_nav {
  flex-direction: row;
  align-items: center;
}
body header .main_nav_logo {
  background-image: url("../images/logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -10000px;
  overflow: hidden;
  width: 40px;
  height: 40px;
}
body header .main_nav label[for=burger_menu] {
  cursor: pointer;
  width: 3em;
  height: 2.5em;
  position: relative;
  display: inline-block;
  z-index: 2;
}
body header .main_nav label[for=burger_menu] span.line {
  width: 100%;
  display: block;
  height: 0.4em;
  position: absolute;
  top: calc(50% - 0.2em);
  background-color: #fff;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before, body header .main_nav label[for=burger_menu] span.line:after {
  content: "";
  height: 0.4em;
  width: 100%;
  background-color: #fff;
  position: absolute;
  border-radius: 0.3em;
  transition: all 0.5s ease-in-out;
}
body header .main_nav label[for=burger_menu] span.line:before {
  transform: translateY(-1em);
}
body header .main_nav label[for=burger_menu] span.line:after {
  transform: translateY(1em);
}
body header .main_nav div {
  position: absolute;
  top: -1000px;
  transition: 0.5s ease-in-out;
  visibility: hidden;
  background-color: #fff;
  overflow: scroll;
  height: 100vh;
  transform: translateX(-1em);
  width: 100vw;
  display: inline-block;
}
body header .main_nav div ul.flex_container {
  background-color: #3E38AD;
  border-radius: 7.5em 0;
  padding: 7.5em 1em;
  gap: 3.125em;
}
body header .main_nav div ul.flex_container li {
  border-bottom: 1px solid #fff;
  padding-bottom: 1.59em;
}
body header .main_nav div ul.flex_container li a {
  font-size: 1.57em;
}
body header .main_nav input[type=checkbox] {
  visibility: hidden;
  width: 0;
  height: 0;
}
body header .main_nav input[type=checkbox]:checked ~ div {
  top: 0;
  visibility: visible;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line {
  background-color: transparent;
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:before {
  transform: rotate(-45deg);
}
body header .main_nav input[type=checkbox]:checked ~ label[for=burger_menu] span.line:after {
  transform: rotate(45deg);
}
body main section#map {
  line-height: 1.43em;
}
body main section#map ul {
  padding: 2.14em 1em 0 1em;
}
body main section#map ul li:not(:last-child) {
  margin-bottom: 2.14em;
  border-bottom: 1px solid #fff;
  padding-bottom: 2.14em;
}
body main section#map ul li > div {
  display: flex;
  gap: 2em;
}
body main section#map ul li > div h3 {
  text-align: left;
}
body main section#map ul li > div img {
  width: 50%;
  height: auto;
}
body main section#financial div {
  line-height: 1.43em;
  padding: 0 1em;
}
body main section#financial div p:first-of-type {
  margin-top: 2.14em;
}
body main section#financial div p:not(:last-child) {
  margin-bottom: 1.14em;
}
body main section#financial div ul {
  margin-bottom: 2.14em;
}
body main section#financial div ul li {
  list-style: inside;
  font-weight: bold;
}
body main section#financial div ul li:first-of-type {
  margin-bottom: 1.14em;
}
body main section #validate, body main section #not_validate {
  border-radius: 3.75em 0;
  line-height: 1.43em;
  padding: 3.57em 1.14em;
  font-size: 1.14em;
  position: fixed;
  top: 11.5em;
  right: 0;
  width: calc(100% - 2.28em);
  z-index: 1;
  transition: transform 1s ease-in-out;
}
body main section .houses, body main section .shops {
  margin: 1.875em 1em 0 1em;
}
body main section .houses:not(:last-child), body main section .shops:not(:last-child) {
  border-bottom: 1px solid #fff;
  padding-bottom: 1.875em;
}
body main section .houses img, body main section .shops img {
  margin-bottom: 0.9375em;
}
body main section .houses_list_element, body main section .shops_list_element {
  list-style: inside;
}
body main section .houses_list_element:not(:last-child), body main section .shops_list_element:not(:last-child) {
  margin-bottom: 1.14em;
}
body main section .shops {
  position: relative;
}
body main section .shops .filter {
  border-radius: 3.75em 0;
  margin-bottom: 0;
}
body main section .shops_list_title {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  margin-bottom: 1.43em;
}
body main section .shops_positioning {
  position: absolute;
  left: calc(50% - 8.71em);
  top: calc(50% - 12.5em);
  z-index: 1;
  border: 1px solid #fff;
  border-radius: 2.14em 0;
  padding: 1.75em 1.14em;
  background-color: rgba(0, 0, 0, 0.6);
}
body main section .shops_positioning div:first-child {
  margin-bottom: 2.14em;
}
body main section form {
  padding: 0 1em;
  margin-top: 1.875em;
}
body main section form#contact_form label.label_positioning, body main section form#blog_form label.label_positioning, body main section form#support_form label.label_positioning {
  background-color: #27236F;
}
body main section form#support_form fieldset:nth-of-type(2) {
  margin-bottom: 3.125em;
}
body main section form#contact_form fieldset, body main section form#support_form fieldset, body main section form#blog_form fieldset {
  gap: 2.5em;
}
body main section form#contact_form fieldset:first-of-type, body main section form#support_form fieldset:first-of-type, body main section form#blog_form fieldset:first-of-type {
  margin-bottom: 3.125em;
}
body main section form#contact_form fieldset legend, body main section form#support_form fieldset legend, body main section form#blog_form fieldset legend {
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  font-size: 1.57em;
  margin-bottom: 1.4em;
}
body main section form#contact_form fieldset div, body main section form#support_form fieldset div, body main section form#blog_form fieldset div {
  position: relative;
}
body main section form#contact_form fieldset div label.label_positioning, body main section form#support_form fieldset div label.label_positioning, body main section form#blog_form fieldset div label.label_positioning {
  position: absolute;
  left: 1.14em;
  top: -0.5em;
  padding: 0 0.5em;
}
body main section form#contact_form fieldset input, body main section form#contact_form fieldset textarea, body main section form#support_form fieldset input, body main section form#support_form fieldset textarea, body main section form#blog_form fieldset input, body main section form#blog_form fieldset textarea {
  border: 1px solid #fff;
  border-radius: 0.714em;
  padding: 3em 1.14em 1.14em 1.14em;
  background-color: transparent;
  width: calc(100% - 2.29em - 2px);
  color: #fff;
  line-height: 1.42em;
}
body main section form#contact_form fieldset input::placeholder, body main section form#contact_form fieldset textarea::placeholder, body main section form#support_form fieldset input::placeholder, body main section form#support_form fieldset textarea::placeholder, body main section form#blog_form fieldset input::placeholder, body main section form#blog_form fieldset textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
body main section form#contact_form input[type=submit], body main section form#support_form input[type=submit], body main section form#blog_form input[type=submit] {
  cursor: pointer;
  background-color: #3E38AD;
  line-height: 1.42em;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.4545em;
  margin-top: 0.91em;
  width: 100%;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  font-weight: bold;
  font-size: 1.57em;
  text-transform: uppercase;
  padding: 0.73em;
}
body main section#slider {
  position: unset;
  padding: 3.125em 1em;
}
body main section#slider h2 {
  margin-bottom: 1.7em;
}
body main section#slider #slideshow {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 29.9375em;
  margin-top: 1em;
}
body main section#slider #slideshow_content {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 500%;
  transition: left 1s;
}
body main section#slider #slideshow_content li {
  display: inline-block;
  width: 20%;
  height: 100%;
}
body main section#slider #slideshow_content li img {
  height: 100%;
}
body main section#slider .flex_container {
  flex-direction: row;
  margin-top: 2.14em;
  padding: 0 calc(50% - 20em);
  gap: 2em;
}
body main section#slider .flex_container button {
  border-radius: 0.714em;
  background-color: transparent;
  flex-grow: 1;
  border: 1px solid #fff;
  padding: 1.14em;
  cursor: pointer;
}
body main section#blog {
  padding: 3.125em 1em;
}
body main section#blog form#blog_form {
  padding: 0;
}
body main section#blog form#blog_form input, body main section#blog form#blog_form textarea {
  width: 100%;
}
body main section#blog div.center {
  padding: 0;
}
body main section#blog .blog_title {
  margin-bottom: 2.3em;
  font-size: 1.57em;
}
body main section#blog .blog_article {
  background-color: #3E38AD;
  border-radius: 3.75em 0;
  padding: 3.125em 1em;
}
body main section#blog .blog_article:not(:last-child) {
  margin-bottom: 2.3em;
}
body main section#blog .blog_article_name {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Helvetica-Bold", "Arial-Bold", "Roboto-Bold", sans-serif;
  border-right: 1px solid #fff;
  padding-right: 1.14em;
  margin-right: 1em;
}
body main section#blog .blog_article_time {
  font-style: italic;
}
body main section#blog .blog_article_message {
  margin-top: 3em;
  line-height: 1.43em;
}
body footer {
  background-color: #3E38AD;
}
body footer div.flex_container {
  gap: 1.875em;
  padding: 1.5625em 0;
}
body footer div.flex_container nav.socials_nav, body footer div.flex_container nav.footer_nav, body footer div.flex_container nav.contact_nav, body footer div.flex_container nav.partners_nav {
  padding: 0 1em;
  gap: 1em;
}
body footer div.flex_container nav.socials_nav ul.flex_container, body footer div.flex_container nav.footer_nav ul.flex_container, body footer div.flex_container nav.contact_nav ul.flex_container, body footer div.flex_container nav.partners_nav ul.flex_container {
  gap: 1.14em;
}
body footer div.flex_container nav.socials_nav ul.flex_container li a, body footer div.flex_container nav.footer_nav ul.flex_container li a, body footer div.flex_container nav.contact_nav ul.flex_container li a, body footer div.flex_container nav.partners_nav ul.flex_container li a {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-weight: normal;
  font-size: 0.875em;
}
body footer div.flex_container nav.contact_nav li p {
  font-size: 0.875em;
}
body footer div.flex_container nav.socials_nav li a {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/facebook_icon.svg");
  width: 40px;
  height: 40px;
  text-indent: -10000px;
  display: inline-block;
}
body footer section#legal_notices {
  background-color: #27236F;
  padding: 1.5625em 1em;
}
body footer section#legal_notices p {
  margin-bottom: 0.71em;
}
body footer section#legal_notices a {
  font-family: "Helvetica-Roman", "Arial-Regular", "Roboto-Regular", sans-serif;
  font-weight: normal;
}

@media (width >= 615px) {
  body main section form#blog_form fieldset input, body main section form#blog_form fieldset textarea, body main section form#contact_form fieldset input, body main section form#contact_form fieldset textarea, body main section form#support_form fieldset input, body main section form#support_form fieldset textarea {
    padding: 1.14em;
  }
}
@media (width >= 700px) {
  body h1 {
    margin: 8.359375em 3.2em 0 3.2em;
  }
  body header {
    padding: 1.5625em 5em;
    width: calc(100% - 10em);
  }
  body header .main_nav div {
    transform: translateX(-5em);
  }
  body header .main_nav div ul.flex_container {
    padding: 7.5em 5em;
  }
  body main {
    padding: 0 5em;
  }
  body main section#slider #slideshow {
    height: 40em;
    width: 40em;
    margin-left: calc(50% - 20em);
  }
  body main section #validate, body main section #not_validate {
    width: calc(100% - 11.1em);
    right: 4.4em;
  }
  body footer div.flex_container {
    padding: 1.5625em 5em;
  }
  body footer div.flex_container nav.footer_nav, body footer div.flex_container nav.contact_nav, body footer div.flex_container nav.socials_nav, body footer div.flex_container nav.partners_nav {
    padding: 0;
  }
  body footer div.flex_container nav.footer_nav h2, body footer div.flex_container nav.contact_nav h2, body footer div.flex_container nav.socials_nav h2, body footer div.flex_container nav.partners_nav h2 {
    margin-bottom: 0.73em;
  }
  body footer section#legal_notices {
    padding: 1.5625em 5em;
  }
}
@media (width >= 1000px) {
  body main section #validate, body main section #not_validate {
    width: calc(100% - 19.9em);
    right: 8.8em;
  }
  body main .even {
    background: linear-gradient(to bottom, #27236F 89%, #3E38AD 11%);
  }
  body main .odd {
    background: linear-gradient(to bottom, #3E38AD 89%, #27236F 11%);
  }
  body main .filter {
    height: 50em;
  }
  body main .section_second_title {
    top: 15.9em;
  }
  body main .center {
    margin-top: 3em;
  }
  body footer div.flex_container {
    flex-direction: row;
  }
  body footer div.flex_container nav.footer_nav, body footer div.flex_container nav.contact_nav, body footer div.flex_container nav.socials_nav, body footer div.flex_container nav.partners_nav {
    display: unset;
  }
}
@media (width >= 1200px) {
  body h1 {
    margin: 8.359375em 6.35em 0 6.35em;
  }
  body header {
    padding: 1.5625em 10em;
    width: calc(100% - 20em);
  }
  body header .main_nav div {
    transform: translateX(-10em);
  }
  body main {
    padding: 0 10em;
  }
  body footer div.flex_container {
    padding: 1.5625em 10em;
  }
  body footer section#legal_notices {
    padding: 1.5625em 10em;
  }
}
@media (width >= 2100px) {
  body header .main_nav input[id=burger_menu], body header .main_nav label[for=burger_menu] {
    display: none;
  }
  body header .main_nav div {
    transform: unset;
    position: initial;
    top: unset;
    visibility: visible;
    background-color: unset;
    width: unset;
    height: unset;
    overflow: unset;
  }
  body header .main_nav div ul.flex_container {
    padding: unset;
    flex-direction: row;
    gap: 3.125em;
  }
  body header .main_nav div ul.flex_container .main_nav_item {
    padding-bottom: 0;
    border-bottom: none;
  }
  body header .main_nav div ul.flex_container .main_nav_item:not(:last-child) {
    border-right: 1px solid #fff;
    padding-right: 1.59em;
  }
}

/*# sourceMappingURL=index.css.map */
