//sass --watch index.scss:../css/index.css
@import "variables";

.hidden {
  overflow: hidden !important;
  font-size: 0 !important;
  text-indent: -100000px !important;
  position: absolute;
}

h1, h2, .link_hover {
  font-family: 'Helvetica-Bold', 'Arial-Bold', 'Roboto-Bold', sans-serif;
}

h1 {
  font-size: $main_title_font_size;
  background-color: $dark_blue_color;
  border-radius: $section_border_radius 0;
  padding: 1.5625em;
  margin-top: calc(3.125em + 5.234375em);
}

h2 {
  font-size: $second_title_font_size;
}

.spacing {
  margin-top: 3.125em;
}

.link_hover {
  color: $white_color;
  text-decoration: underline transparent;
  transition: text-decoration .5s ease-in-out;

  &:hover {
    text-decoration: underline $white_color;
  }
}

.flex_container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

body {
  color: $white_color;
  font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
  font-size: $text_font_size;

  header {
    position: fixed;
    top: 0;
    background-color: $light_blue_color;
    padding: $medium_padding $base_padding;
    width: calc(100% - 2em);
    z-index: 1;

    .main_nav {
      flex-direction: row;
      align-items: center;

      &_logo {
        background-image: url("../images/logo.svg");
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -10000px;
        overflow: hidden;
        width: 40px;
        height: 40px;
      }

      label[for="burger_menu"] {
        cursor: pointer;
        width: 3em;
        height: 2.5em;
        position: relative;
        display: inline-block;
        z-index: 2;

        span.line {
          width: 100%;
          display: block;
          height: 0.4em;
          position: absolute;
          top: calc(50% - 0.2em);
          background-color: $white_color;
          border-radius: 0.3em;
          transition: all .5s ease-in-out;

          &:before, &:after {
            content: "";
            height: 0.4em;
            width: 100%;
            background-color: #fff;
            position: absolute;
            border-radius: 0.3em;
            transition: all .5s ease-in-out;
          }

          &:before {
            transform: translateY(-1em);
          }

          &:after {
            transform: translateY(1em);
          }
        }
      }


      div {
        position: absolute;
        top: -1000px;
        transition: .5s ease-in-out;
        visibility: hidden;
        background-color: $white_color;
        overflow: scroll;
        height: 100vh;
        transform: translateX(-1em);
        width: 100vw;
        display: inline-block;

        ul.flex_container {
          background-color: $light_blue_color;
          border-radius: $burger_menu_border_radius 0;
          padding: 7.5em $base_padding;
          gap: 3.125em;

          li {
            border-bottom: 1px solid $white_color;
            padding-bottom: 2.1875em;

            a {
              font-size: $main_title_font_size;
            }
          }
        }
      }

      input[type="checkbox"] {
        visibility: hidden;
        width: 0;
        height: 0;

        &:checked {
          & ~ div {
            top: 0;
            visibility: visible;
          }

          & ~ label[for="burger_menu"] {
            span.line {
              background-color: transparent;

              &:before {
                transform: rotate(-45deg);
              }

              &:after {
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
  }

  main {

  }

  footer {
    background-color: $light_blue_color;
    padding-top: $medium_padding;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1.875em;

    nav {

      &.socials_nav, &.footer_nav, &.contact_nav, &.partners_nav {
        padding: 0 $base_padding;
        gap: 1em;

        ul.flex_container {
          gap: 0.625em;

          li {
            a {
              font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
              font-size: $text_font_size;
            }
          }
        }
      }

      &.contact_nav {
        li {
          p {
            font-size: $text_font_size;
          }
        }
      }

      &.socials_nav {
        li {
          a {
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("../images/facebook_icon.svg");
            width: 40px;
            height: 40px;
            text-indent: -10000px;
            display: inline-block;
          }
        }
      }
    }

    section#legal_notices {
      background-color: $dark_blue_color;
      padding: $medium_padding $base_padding;
      gap: 0.625em;

      a {
        font-family: 'Helvetica-Roman', 'Arial-Regular', 'Roboto-Regular', sans-serif;
      }
    }
  }
}
