//COLORS

$white_color: #fff;
$placeholder_color: rgba(255, 255, 255, 0.5);
$light_blue_color: #3E38AD;
$dark_blue_color: #27236F;
$box_shadow_color: rgba(0, 0, 0, .5);


//PADDING

$base_padding: 1em;
$medium_padding: $base_padding*1.5625;


//FONT-SIZE

$base_font_size: 1em;
$main_title_font_size: $base_font_size*1.375;
$second_title_font_size: $base_font_size*1.125;
$text_font_size: $base_font_size*0.875;


//BORDER-RADIUS

$base_radius: 1em;
$section_border_radius: $base_radius*3.75;
$burger_menu_border_radius: $base_radius*7.5;