//COLORS

$white_color: #fff;
$placeholder_color: rgba(255, 255, 255, 0.5);
$light_blue_color: #3E38AD;
$dark_blue_color: #27236F;
$box_shadow_color: rgba(0, 0, 0, .5);
$error_color: #702424;
$form_error_color: #ff0000;
$validate_color: #24702a;


//PADDING

$base_padding: 1em;
$medium_padding: $base_padding*1.5625;


//FONT-SIZE

$base_font_size: 1em;
$main_title_font_size: $base_font_size*1.57;
$second_title_font_size: $base_font_size*1.29;
$text_font_size: $base_font_size*.875;
$small_font_size: $base_font_size*.75;


//BORDER-RADIUS

$base_radius: 1em;
$section_border_radius: $base_radius*3.75;
$burger_menu_border_radius: $base_radius*7.5;